

:root {
    --clr--primary : #14967f;
    --clr-secondary : 	#e2fcd6;
    --clr-dark : 	#095d7e;
    --clr-light : 	#ccecee;
    --clr-lighter :#f1f9ff;
    --clr-white : #fff;

}

body {
    background-color: var(--clr-light);
    font-family: 'Rubik';
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--clr-dark);
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
   background-clip: content-box;
    background-color: var(--clr-light);
}
  

p, h1, h2, h5 {
    margin: 0;
    padding: 0;
}

/* header styles  */
.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px;
    padding: 10px;
    border-radius: 40px;
    color: var(--clr-lighter);
    background-color: var(--clr-dark);
}


.header img {
    filter: invert(99%) sepia(52%) saturate(2416%) hue-rotate(178deg) brightness(108%) contrast(105%);
}

.header .logo-wrap {
    display: grid;
    margin-left: 20px;
}

.header .logo {
    display: flex;
}

.header .logo img {
    width: 40%;
}

.header .options-wrap {
    display: flex;
    gap:10%;
    align-items: center;
    justify-content: center;
}
.header .option {
    display: flex;
    gap:10%;
    align-items: center;
    justify-content: center;
}

.header .h-profile-wrap {
    display: flex;
    margin-left: auto;
    gap: 5px;
    align-items: center;
}

.header .profile-img img {
    width: 25px;
    height: 25px;
}

.header .name-wrap {
    margin-right: 10px;
}

.header .name-wrap h2 {
    font-size: 15px;
    font-weight: 700;
}
.header .name-wrap h5 {
    font-size: 12px;
    font-weight: 400;
}
    
.header .vL {
    border-left: 2px solid var(--clr-light);
    height: 50px;
}

.header .icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header .icons div:nth-child(1) img {
    width: 25px;
}
.header .icons div:nth-child(2) img {
    width: 5px;
}
/* header styles end  */

.bento-grid {

    width: 98%;
    height: 800px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1vw;
    grid-template-areas: 
    "list chart chart profile"
    "list chart chart profile"
    "list chart chart profile"
    "list list1 list1 result";
    margin: 0 1%;
}

.bento-grid .p-list {
    grid-area: list;
}

.bento-grid .chart {
    grid-area: chart;
}
.bento-grid .d-list {
    grid-area: list1;
}
.bento-grid .profile {
    grid-area: profile;
}
.bento-grid .result {
    grid-area: result;
}



.box {
    display: flex;
    border-radius: 20px;
    background-color: var(--clr-white);
    border: 2px solid var(--clr--primary);
    box-shadow: rgba(9, 93, 126, 0.24) 0px 3px 8px;
}

.box .title {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 5px 10px;
    padding: 5px;

    color: var(--clr-dark);
}

.title .title-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5%;
}

.title img {
    filter: invert(10%) sepia(94%) saturate(5393%) hue-rotate(186deg) brightness(98%) contrast(93%);
    width: 25px;
}

.title input {
    width: 50%;
    padding: 10px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    cursor: pointer;
    border: 2px solid var(--clr--primary);
    border-radius: 20px;
}

.title input::placeholder {
    color:var(--clr-lighter);
    opacity: 0.5;
}

.title input:focus,
.title input:hover,
.title input:focus-visible,
input[data-last-active-input="true"] {
    border: 2px solid var(--clr-light);
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: var(--clr-light);
}





.api-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.patients {
    margin: 0 5px 10px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
    overflow-x: auto;
}

.patients .list-img img {
  width: 50px;
  height: 50px;
  border: 2px solid var(--clr-light);
  border-radius: 100%;
}

.patients .patient {
   display:flex;
   justify-content: space-between;
   gap: 15px;
   padding: 10px;
   border-radius: 10px;
   background-color: var(--clr-dark);
   color: var(--clr-light);
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "img det more"; */
}

.patient div:nth-child(1) {
    /* grid-area: img; */
}
.patient div:nth-child(2) {
    /* grid-area: det; */
}
.patient div:nth-child(3) {
    /* grid-area: more; */
    margin-left: auto;
    padding-right: 10px;
}

.allWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

.allWrap .name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.detWrap {
    display: flex;
    gap:10px;
    /* justify-content: space-between; */
    font-size: 13px;
}

.icon {
    width:20px;
    filter: invert(99%) sepia(52%) saturate(2416%) hue-rotate(178deg) brightness(108%) contrast(105%);
}



/* Profile */
.profile-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 15px;
}

.profile-img  img {
    width: 250px;
    height: 250px;
    border: 2px solid var(--clr-dark);
    border-radius: 100%;
}

.profile-wrap .allWrap {
    margin: 30px 5px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-wrap .icon-wrap {
    display: flex;
    gap: 10px;
    
}

/* .icon-wrap img {
    filter: invert(24%) sepia(94%) saturate(1017%) hue-rotate(166deg) brightness(91%) contrast(93%);
} */
.label {
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-dark);
}

.label .data {
    font-weight: 400;
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--clr-dark);
    color: var(--clr-lighter);
    border-radius: 40px;
    border: 2px solid var(--clr--primary);
    padding: 20px;
}

.hide {
    display: none;
    
}
.flex {
    display: flex;
}


.box .chart {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:834px) {
    .bento-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "list"
        "profile"
        "chart"
        "list1"
        "result";
    }
}
