

:root {
    --clr--primary : #14967f;
    --clr-secondary : 	#e2fcd6;
    --clr-dark : 	#095d7e;
    --clr-light : 	#ccecee;
    --clr-lighter :#f1f9ff;
    --clr-white : #fff;

}

body {
    background-color: var(--clr-light);
    font-family: 'Rubik';
}

p {
    margin: 0;
}

.bento-grid {

    width: 100%;
    height: 800px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1vw;
    grid-template-areas: 
    "list chart chart profile"
    "list chart chart profile"
    "list chart chart profile"
    "list list1 list1 result";
}

.bento-grid .p-list {
    grid-area: list;
}

.bento-grid .chart {
    grid-area: chart;
}
.bento-grid .d-list {
    grid-area: list1;
}
.bento-grid .profile {
    grid-area: profile;
}
.bento-grid .result {
    grid-area: result;
}

.box {
    display: flex;
    border-radius: 20px;
    background-color: var(--clr-white);
    border: 2px solid var(--clr--primary);
}

.box .title {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;

    color: var(--clr-dark);
}

.title img {
    filter: invert(10%) sepia(94%) saturate(5393%) hue-rotate(186deg) brightness(98%) contrast(93%);
    width: 25px;
}

.api-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.patients {
    margin: 0 5px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
    overflow-x: auto;
}

.patients .list-img img {
  width: 50px;
  height: 50px;
}

.patients .patient {
   display:flex;
   justify-content: space-between;
   gap: 15px;
   padding: 10px;
   border-radius: 10px;
   background-color: var(--clr-dark);
   color: var(--clr-light);
   cursor: pointer;

  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "img det more"; */
}

.patient div:nth-child(1) {
    /* grid-area: img; */
}
.patient div:nth-child(2) {
    /* grid-area: det; */
}
.patient div:nth-child(3) {
    /* grid-area: more; */
    margin-left: auto;
    padding-right: 10px;
}

.allWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

.allWrap .name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.detWrap {
    display: flex;
    gap:10px;
    /* justify-content: space-between; */
    font-size: 13px;
}

.icon {
    width:20px;
}



/* Profile */
.profile-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img  img {
    width: 250px;
    height: 250px;
    border: 2px solid var(--clr-dark);
    border-radius: 100%;
}

.profile-wrap .allWrap {
    margin: 30px 5px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-wrap .icon-wrap {
    display: flex;
    gap: 10px;
}

.icon-wrap .icon {
    background-color: var(--clr--primary);
}
.label {
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-dark);
}

.label .data {
    font-weight: 400;
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--clr-dark);
    color: var(--clr-lighter);
    border-radius: 40px;
    border: 2px solid var(--clr--primary);
    padding: 20px;
}

@media screen and (max-width:834px) {
    .bento-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "list"
        "profile"
        "chart"
        "list1"
        "result";
    }
}